
* {
  margin: 0;
  padding: 0;
}


/*reset*/
html {
  max-width: 640px;
  margin: 0 auto;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
  display: block;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
figure,
section,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.4 "Microsoft Yahei", Arial, Helvetica, sans-serif;
  background-color: #f5f5f4;
  color: #fff;
  max-width: 640px;
  margin: 0 auto;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
dd,
dt,
dl {
  list-style-type: none;
}

a {
  display: block;
  color: #333;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

a,
input,
select,
span {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
}

body, html {
  width: 100%;
  min-height: 100%;
  height: auto;
  /* background: linear-gradient(-90deg, #FCFDFD, #E3FDFF, #FBFDFF); */
  background-color: #E3FDFF;
  color: #242527;
  padding-bottom: 20px;
  box-sizing: content-box;
}